# hopefully hci0 exists: FIXME: make sure it is, and make sure multiple
# bluetooth devices work too, if being the case that some has multiple ones...
# :-)
#
# idVendor 054c is Sony, idProduct 0268 is Sont's wireless controller sixaxis
# original version (without rumble). Other ones aren't going to work (if being
# the case).
DRIVER=="usb", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="0268", RUN+="/usr/sbin/hciconfig hci0 up pscan"
DRIVER=="usb", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="0268", RUN+="/usr/bin/hidd -i hci0 --nocheck --server"
DRIVER=="usb", SUBSYSTEM=="usb", ATTR{idVendor}=="054c", ATTR{idProduct}=="0268", RUN+="/etc/sixpair"
